
<div class="vh-100 d-flex align-items-center position-relative bgCover">
    <div class="container-lg position-relative">
        <div class="row justify-content-center text-center">
            <div class="textColorWhite">
                <h1 class="fw-bold">¡Pokemon Battle!</h1>
                <p class="fs-1 fw-bold">Juega a Pokémon Battle, un juego <br> de cartas coleccionables y batallas</p>
            </div>
        </div>
    </div>
</div>


<section class="bgColorBlack position-relative paddingBottom paddingTop paddingHorizontal">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5 px-5 px-lg-0">

        <!-- Imagen -->
        <div class="w-100 anchoImagen">
            <img src="./img/home1.1.jpeg" alt="Imagen Pokémon" class="img-fluid w-100">
        </div>

        <!-- Texto -->
        <div class="d-flex w-100 align-items-center justify-content-center justify-content-lg-start px-3 px-lg-0" style="max-width: 450px;">
            <div class="w-100 text-start text-lg-start">
                <h2 class="responsive-title">Pokémon Battle</h2>
                <p class="responsive-text">
                Pokémon Battle es un juego de cartas coleccionables <br>
                en el que también podrás combatir contra la IA de una manera fácil y divertida
                con las mismas cartas que vas consiguiendo a medida que abres sobres.
                </p>
                <div>
                    <a routerLink="/registro" class="bgColorBlack textColorYellow border-2 borderYellow rounded py-2 px-3 btnScale text-decoration-none">
                        Juega ahora
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Decoración -->
    <img src="./img/transicion3.svg" alt="Decoración" class="position-absolute bottom-0 start-0">
</section>





<section class="bgColorBlue position-relative paddingTop paddingBottom paddingHorizontal">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5 px-5 px-lg-0">
        <div class="w-100 anchoImagen order-1 order-lg-2">
            <img src="./img/home1.2.png" alt=""  class="img-fluid w-100">
        </div>

        <!-- Texto -->
        <div class="order-2 order-lg-1 d-flex w-100 align-items-center justify-content-center justify-content-lg-start px-3 px-lg-0" style="max-width: 450px;">
            <div class="w-100 text-start text-lg-start">
                <h2 class="responsive-title">Pokémon Cards</h2>
                <p class="responsive-text">Podrás coleccionar tantas cartas como quieras para luego jugar contra la IA.</p>
                <div>
                    <a routerLink="/instrucciones" class="bgColorBlue textColorYellow border-2 borderYellow rounded py-2 px-3 btnScale text-decoration-none">
                        Aprende más
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor para SVG superpuesto -->
    <img src="./img/transicionBuena.svg" alt="Decoración" class="position-absolute bottom-0 start-0">
</section>


<section class="bgColorBlack position-relative paddingBottom paddingTop paddingHorizontal">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-5 px-5 px-lg-0">
        <div  class="w-100 anchoImagen">
            <img src="./img/home1.3.jpg" alt="" class="img-fluid w-100">
        </div>

        <div class="d-flex w-100 align-items-center justify-content-center justify-content-lg-start px-3 px-lg-0" style="max-width: 450px;">
            <div class="w-100 text-start text-lg-start">
                <h2 class="responsive-title">Pokémon System Battle</h2>
                <p class="responsive-text">Podrás jugar batallas contra la IA para conseguir puntos y abrir más sobres.</p>
                <div>
                    <a routerLink="/instrucciones" class="bgColorBlack textColorYellow border-2 borderYellow rounded py-2 px-3 btnScale text-decoration-none">
                        Aprende más
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bgColorBlue pb-5 text-center textWhite ">
    <!-- Contenedor para SVG superpuesto -->
    <div>
        <img src="./img/transicion2buena.svg" alt="Decoración" class="w-100 d-block">
    </div>

    <div class="container pb-5 mb-4">
        <h2>Desarrolladores</h2>
        <p>Nuestro equipo está compuesto por dos personas que se han unido para crear un juego divertido y fácil de jugar. Esperamos que os guste.</p>

        <div class="row justify-content-center">
            <div class="col-6 col-lg-4">
                <img src="./img/avatarShei.jpeg" alt="Sheila García" class="img-fluid mb-3" width="150">
                <h4>Sheila García</h4>
            </div>
            <div class="col-6 col-lg-4">
                <img src="./img/avatarIsma.jpeg" alt="Ismael Boufarcha" class="img-fluid mb-3" width="150">
                <h4>Ismael Boufarcha</h4>
            </div>
        </div>
    </div>
</section>